body{
    margin: 20px;
}
.videocontainer{
    position: relative;
    width: 80%;
    padding-bottom: 56.2%;
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
}
.videocontainer-16x9{
    display: flex;
    justified-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.videocontainer-4x3{
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    overflow: hidden;
}
.videocontainer-1x1{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}